<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:400,900,700,300|Open+Sans:400,800,700|Titillium+Web:600,400' type='text/css'>
        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/github.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
        <script type="text/javascript" 
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    </head>
    <body>

        <header class="site-header">
            <div class="site-branding">
                <h1 class="site-name">
                    <a href="{{ baseUrl }}" >{{ title|default('The title') }}</a>
                </h1>
                <h2 class="site-description">{{ subTitle|default('This is the default subtitle!')|raw }}</h2>
            </div>

            {% if github is defined %}
            <div class="button-line">
                <a href="https://github.com/{{ github.user }}/{{ github.repo }}" target="_blank" class="btn btn-default">View on GitHub</a>
                <a href="https://github.com/{{ github.user }}/{{ github.repo }}/zipball/master" class="btn btn-default hidden-xs">Download .zip</a>
                <a href="https://github.com/{{ github.user }}/{{ github.repo }}/tarball/master" class="btn btn-default hidden-xs">Download .tar.gz</a>
            </div>

                <a href="https://github.com/{{ github.user }}/{{ github.repo }}">
                    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
                </a>
            {% endif %}

            <div class="text-left visible-xs-block" style="margin-left: 15px;">
                <a href="#sidebar" data-toggle="collapse"><i class="fa fa-3x fa-bars" aria-hidden="true"></i></a>
            </div>
        </header>

        <main class="{{ pageTree ? 'container-fluid' : 'container' }}">
            <div class="row">

                {% if pageTree is defined %}
                    <nav id="sidebar" class="col-sm-3 col-lg-2 collapse in" role="navigation">

                        {% macro pagelist2(name, dir, tree, baseUrl) %}
                            {% import _self as recurse %}
                            <div class="">
                                <h5>{{ name }}</h5>
                                <div class="list-group">
                                    {% for page, dirb in tree %}
                                        {% if dirb is iterable %}
                                            {{recurse.pagelist2(page, dir ~ '/' ~ page, dirb, baseUrl)}}
                                        {% else %}
                                            <a class="list-group-item" href="{{ baseUrl ~ '/' ~ dir ~ '/' ~ name ~ '/' ~ page }}">
                                                {{ page|preg_replace('/[0-9][0-9][0-9][0-9]\-[0-9][0-9]\-[0-9][0-9]\-/','').replace({'.html':'', '-':''}) }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endmacro %}
                        {% macro pagelist2b(name, dir, tree, baseUrl) %}
                            {% import _self as recurse %}
                            <div class="">
                                <div class="list-group">
                                <h5 class="list-group-item list-group-header">{{ name }}</h5>
                                    {% for page, dirb in tree %}
                                        {% if dirb is iterable %}
                                            <div class="list-group-item">
                                            {{recurse.pagelist2b(page, dir ~ '/' ~ name, dirb, baseUrl)}}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for page, dirb in tree %}
                                        {% if dirb is not iterable %}
                                            <a class="list-group-item" href="{{ baseUrl ~ '/' ~ dir ~ '/' ~ name ~ '/' ~ page }}">
                                                {{ page|replace({'.html':''}) }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endmacro %}

                        {% macro pagelist(pageTree, baseUrl) %}
                            {% import _self as recurse %}
                            <ul class="nav nav-sidebar">
                            {% for name, dir in pageTree %}
                                <li>
                                    {% if dir is iterable %}
                                        <div class="panel-group" id="accordion{{loop.index}}">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion{{loop.index}}" href="#collapse{{loop.index}}">
                                                        {{ name }}
                                                            <span class="pull-right glyphicon glyphicon-plus"></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% for page, dirb in dir %}
                                                            {% if dirb is iterable %}
                                                                {{recurse.pagelist2b(page, name, dirb, baseUrl)}}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <div class="list-group">
                                                        {% for page, dirb in dir %}
                                                            {% if dirb is not iterable %}
                                                                <a class="list-group-item" href="{{ baseUrl ~ '/' ~ name ~ '/' ~ page }}">
                                                                    {{ page|replace({'.html':''}) }}
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endmacro %}

                        {% import _self as recurse %}
                        {{ recurse.pagelist(pageTree, baseUrl) }}

                    </nav>

                {% endif %}

                <section class="{{ pageTree ? 'col-sm-9 col-lg-10 content' : 'col-sm-12 content' }}">
                    {{ content|raw }}
                </section>

            </div>
        </main>

        <footer class="site-footer">
            <div class="top-bar-line"></div>
            <div class="bottom-panel">
                <div class="text-center">
            <span>
                {% if footerText is defined %}
                    {{ footerText }}
                {% endif %}
                    {#<i class="fa fa-copyright"></i>#}
            </span>
                </div><!-- text-center -->
            </div><!-- bottom-panel -->
        </footer>


        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{{ baseUrl }}/js/highlight.pack.js"></script>

        <script>
            hljs.initHighlighting();

            function checkWidth($highlight) {
                if ($(window).width() < 768) {
                    $highlight.addClass('collapse');
                } else {
                    $highlight.removeClass('collapse');
                }
            }

            $(document).ready(function () {
                var $highlights = $('.hljs');
                $highlights.each(function (index) {
                    var $this = $(this).parent();
                    var elementId = 'hljs' + index;
                    $this.attr('id', elementId);
                    $this.before('<a class="visible-xs-inline visible-sm-inline" href="#' + elementId + '" data-toggle="collapse"><i class="fa fa-expand"></i>&nbsp;Toggle source code ...</a>');

                    checkWidth($this);
                    $(window).resize(function () {
                        checkWidth($this);
                    });
                });
            });

            {% if googleAnalyticsCode is defined %}
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ googleAnalyticsCode }}', 'auto');
                ga('send', 'pageview');
            {% endif %}

        </script>

    </body>
</html>
